* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card img {
    width: 400px;
    border-radius: 20px;
    filter: invert();
}

.card img:hover {
    filter: none;
}

.card {
    width: 420px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    background: conic-gradient(rgba(0, 0, 255, 0.508),rgba(255, 0, 0, 0.434),rgba(128, 0, 128, 0.394)) ;
    backdrop-filter: blur(8px);
}

.card h2 {
    padding-top: 20px;
        background: linear-gradient(green,yellow);
    color: transparent;
    -webkit-background-clip: text;
}

.card p {
    background: linear-gradient(green,yellow);
    color: transparent;
    -webkit-background-clip: text;
}


.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image:url(image\ copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
